.header {
    &_container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 5px;
    }

    &_img {
        width: 73px;
        height: 73px;
        object-fit: contain;
        margin-right: 400px;
    }

    &_wrap {
        display: flex;
        align-items: center;
        gap: 5px;
    }

    &_link {
        font-size: 16px;
        line-height: 19px;
        color: #1E1E1E;
    }

    &_linkk {
        font-weight: 500;
        font-size: 21px;
        line-height: 25.41px;
        color: #1E1E1E;
    }

    &_btm {
        display: block;
        font-size: 12px;
        line-height: 14.52px;
        text-align: right;
        color: #EA9700;
    }

    &_select {
        border: none;
        outline: none;
        background-color: none;
        color: #4A4A4A;

        .header_opt {
            border: none;
            outline: none;
            background-color: none;
            padding: 3px;
        }
    }

    &_none {
        display: none;
    }

    
}


@media only screen and (max-width: 768px) {
    .header {
        padding-top: 20px;
    
        &_img {
            width: 40px;
            height: 40px;
            margin-right: 200px;
        }
    
        &_wrap {
            gap: 2px;
        }
    
        &_linkk {
            font-size: 18px;
            line-height: 21.41px;
        }
    
        
    }
}

@media only screen and (max-width: 425px) {
    .header {
    
        &_img {
            margin-right: 250px;
        }
    
        &_wrap {
            display: none;
        }
    
        &_linkk {
            display: none;
        }
    
        &_btm {
            display: none;
        }
    
        &_select {
          margin-right: 30px;
        }
    
        &_none {
            display: block;
        }

        &_dr {
            font-weight: 500;
            font-size: 18px;
            line-height: 24 px;
            display: block;
            margin-bottom: 10px;
            text-align: center;
            color: #1E1E1E;
        }
    
    }
}